<a href="https://colab.research.google.com/github/henriquepgomide/exp-curso-python-saude/blob/master/PySaude_02_python_02_tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/henriquepgomide/exp-curso-python-saude/master/assets/pucrs-logo.svg" width="300" align="center">

# **DATA SCIENCE: INOVAÇÃO NO USO DOS DADOS NA SAÚDE**
# Introdução às ferramentas usadas em ciência de dados
**Henrique Gomide, Ph.D.**


# Tipos de Dados

Hora de ver os tipos de dados mais comuns e nos familiarizarmos com eles.

## Função type()

Essa função retorna o tipo (classe) do dado que é passado como argumento.

In [2]:
print(type([1, 2, 3, 4, 5]))
print(type(2.55))
print(type('minha cidade'))

<class 'list'>
<class 'float'>
<class 'str'>

## Inteiro

In [ ]:
# Exemplo de inteiro
idade_henrique = 33

In [ ]:
print(idade_henrique)

33

### Exercício 01

Crie uma variável chamada 'minha_idade' e atribua um valor inteiro a ela. Depois, use a função 'print' para imprimir o valor da variável.

In [ ]:
# Crie a varíavel minha idade.
minha_idade =

In [ ]:
# Imprima o valor da variável minha idade.

**Clique aqui para a resposta**

<!--
minha_idade = 20 # Exemplo
print(minha_idade)
-->

## Float (Ponto flutuante)

In [ ]:
# Valor do Kinder Ovo
kinder_roubo = 7.50 # Atenção. Separação de casas decimais no python é feita com 
                    # '.' e não ',' vírgula.

In [ ]:
print(kinder_roubo)

7.5

### Exercício 02

Quantos Kinder roubos podem ser comprados com um salário mínimo em 2020? (Salário mínimo no Brasil é de R$ 1045.00).

Dica: Você pode consultar a tabela de [operadores matemáticos](https://colab.research.google.com/github/zetta-health/exp-curso-python-saude/blob/master/PySaude_02_python_03_tipos_de_operadores.ipynb#scrollTo=_1K-9jikvNY4).

In [ ]:
kinder_roubo = 7.50
salario_minimo = 1045.00 

# Complete com sua solução:

**Clique aqui para ver a resposta**
<!--
salario_minimo = 1045.00
n_kinder = salario_minimo / kinder_roubo
print(n_kinder)
-->

## Listas

In [ ]:
# Listas são definidas entre colchetes.
lista_vazia = []                  # Lista vazia
lista_01 = [1, 3, 5, 7, 9]        # Lista de int
lista_02 = [2.0, 1.0, 0.0, 10.0]  # Lista de floats
lista_03 = [lista_01, lista_02]   # Criar lista de listas a partir de listas

In [ ]:
# Acessar valores de uma lista
# Elas são indexadas por zero.
lista_02[0]

2.0

In [ ]:
# Você também pode acessar listas dentro de listas
lista_03[0][1]

# Pode remover valores com o método 'pop'
# Ex. Remover o primeiro item da lista
lista_01.pop(0)
print(lista_01)

[3, 5, 7, 9]

In [ ]:
# Pode acrescentar valores com o método 'append'
lista_01.append(10)
print(lista_01)

[3, 5, 7, 9, 10]

In [ ]:
# Pode ordenar a lista também na ordem crescente e decrescente com o método 
# 'sorted'
crescente = sorted(lista_02)
decrescente = sorted(lista_02, reverse=True)
print(crescente, decrescente, sep='\n') # Imprime as listas ordenadas.

[0.0, 1.0, 2.0, 10.0]
[10.0, 2.0, 1.0, 0.0]

In [ ]:
# Outros métodos que também podem ser usados em listas:
#   min(minha_lista) - retorna o menor valor da lista.
#   max(minha_lista) - retorna o maior valor da lista.
#   sum(minha_lista) - retorna a soma da lista.
#   len(minha_lista) - retorna o número de elementos da lista.

# Retorna a soma dos números da lista_01
sum(lista_01)

34

In [ ]:
# Criar listas numéricas
list(range(10)) # Ou [range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Slicing 

Podemos selecionar apenas trechos de listas utilizando *slicing*.

O primeiro valor representa o index do item inicial e o segundo representa onde se encerra. No entanto, o número que encerra o slice não é inclusivo, ou seja, quando o encerramento do slice é em 3, o index do último item será 2, um a menos.

In [ ]:
lista_slice = list(range(10))
lista_slice[0:3] # Seleciona os itens indexados de 0 a 2

[0, 1, 2]

Um terceiro valor opcional pode ser adicionado, representando o 'salto', ou quantos itens serão pulados até o próximo.

In [ ]:
lista_slice[2:9:2]

[2, 4, 6, 8]

Os valores também podem ser omitidos parar representar o primeiro ou último valor, dependendo de onde foi feita a omissão. Isso é útil para facilitar a representação da array inteira.

In [ ]:
lista_slice[::2]

[0, 2, 4, 6, 8]

E os valores também podem ser negativos, nesse caso a contagem começa de trás pra frente, sendo que o último item é indexado como `-1`. Isso é bastante útil para inverter a ordem das listas, ou selecionar o último elemento sem saber a quantidade exata.

In [ ]:
lista_slice[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
lista_slice[-1]

9

### Exercício 03

Qual valor é extraído com o comando 'lista_01[3]'?

**Clique aqui para ver a resposta**

<!--
7
-->

### Exercício 04

Qual o menor valor da lista abaixo.

In [ ]:
# Não alterar linhas 2, 3 e 4.
import random
random.seed(42) # Fixa geração de números aleatórios.
lista_ex_04 = [random.randint(0,100) for x in range(100)] # Cria lista

# Seu código aqui.

**Clique aqui para ver a resposta**

<!--
min(lista_ex_04)
-->

## Strings

Strings são texto. É possível manipulá-las no Python. 

Para uma lista compreensiva veja a [documentação oficial](https://docs.python.org/3/library/string.html).

In [ ]:
# Exemplos de texto:
verdade_absoluta_01 = 'O Palmeiras não tem mundial'
verdade_absoluta_02 = " e o brasileiro de 1987 é do Flamengo"

# Concatenação de string
verdade_absoluta_01 + verdade_absoluta_02

'O Palmeiras não tem mundial e o brasileiro de 1987 é do Flamengo'

In [ ]:
# Existem diversas operações que podem ser feitas com strings. Exemplos:
texto_minusculo = 'mesa,cadeira,caneta'
texto_maiusculo = 'MESA,CADEIRA,CANETA'

In [ ]:
# Vamos separar as strings usando o método 'split'
texto_minusculo.split(',')

['mesa', 'cadeira', 'caneta']

In [ ]:
# Podemos substituir um trecho da string por outro com o método 'replace'
verdade_absoluta_02.replace('Flamengo', 'Sport Club Recife')

' e o brasileiro de 1987 é do Sport Club Recife'

In [ ]:
# O método 'upper' converte as letras da string para maiúsculo e método 'lower'
# as converte para minúsculo
print(texto_minusculo.upper().split(','))
print(texto_maiusculo.lower().split(','))

['MESA', 'CADEIRA', 'CANETA']
['mesa', 'cadeira', 'caneta']

### Exercício 05

Adicione o nome do seu time de coração na string abaixo, utilizando o método 'replace':

In [ ]:
cancao = '''Porque meu time bota pra ferver, 
E o nome dele são vocês que vão dizer 

Ô , ô , ô , ô , ô , ô , ô , ô , ô , ô , ô , ô Vasco!

Porque meu time bota pra ferver, 
E o nome dele são vocês que vão dizer 

Ô , ô , ô , ô , ô , ô , ô , ô , ô , ô , ô , ô Vasco!
'''

In [ ]:
# Seu código aqui:

**Clique aqui para ver a resposta**

<!--
cancao.replace('Vasco', 'Seu time do Coracao aqui')
-->

## Dicionários

In [ ]:
# Dicionários são compostos por chaves e valores.
preco_alcool_em_gel = {'Asseptgel': 13.50, 'My Health' : 22.90,
                       'Gelalcool' : 12.63, 'Total Protect' : 12.32}

In [ ]:
# Algumas operações aplicáveis a dicionários:
#   keys() = retorna uma lista com o nome das chaves.
#   values() = retorna uma lista com os valores.

preco_alcool_em_gel.values()

dict_values([13.5, 22.9, 12.63, 12.32])

In [ ]:
# Os valores podem ser alterados.
preco_alcool_em_gel['My Health'] = 20.50
print(preco_alcool_em_gel['My Health'])

20.5

In [ ]:
# Para adicionar nova chave:
preco_alcool_em_gel['Sunlau'] = 16.50
print(preco_alcool_em_gel)

{'Asseptgel': 13.5, 'My Health': 20.5, 'Gelalcool': 12.63, 'Total Protect': 12.32, 'Sunlau': 16.5}

In [ ]:
# Para deletar uma chave:
del(preco_alcool_em_gel['Sunlau'])
print(preco_alcool_em_gel)

{'Asseptgel': 13.5, 'My Health': 20.5, 'Gelalcool': 12.63, 'Total Protect': 12.32}

### Exercício 06

Substitua o preço atual do álcool em gel 'Asseptgel' pelo seu preço de promoção (R$ 11,90). Depois retorne o novo valor utilizando a função 'print'.

In [ ]:
# Sua código aqui:

**Clique aqui para ver a resposta**

<!--
preco_alcool_em_gel['Asseptgel'] = 11.90
print(preco_alcool_em_gel['Asseptgel'])
-->

## Tuplas 

Tuplas são listas **imutáveis**.

In [ ]:
# Tuplas são definidas entre parênteses.
tupla_1 = (1, 2, 3, 4)
tupla_1

(1, 2, 3, 4)

In [ ]:
type(tupla_1)

tuple

In [ ]:
# Acessar primeiro elemento da dupla
tupla_1[0]

1

## Sets

Sets são listas que **não possuem repetição**.

In [ ]:
# Lista com repetições
lista_duplicada = [0, 1, 1, 0, 2, 3, 5]

In [ ]:
meu_set = set(lista_duplicada)
print(meu_set)

{0, 1, 2, 3, 5}

### Exercício 07

Crie uma lista sem os elementos duplicados abaixo:

In [ ]:
# Não alterar linha 2.
lista_ex_05 = [random.randint(0,10) for x in range(100)]

# Sua resposta.

**Clique aqui para ver a resposta**

<!--
list(set(lista_ex_05))
-->

# **Yey! Parabéns por ter completado este notebook!**


Este notebook faz parte do curso de *Introdução ao Python para Gestão da Saúde*, ministrado por [Caio Salgado](https://www.linkedin.com/in/caio-salgado-b5758312/) e oferecido pela [Zetta Exponential](https://www.linkedin.com/company/zetta-health-analytics/) e Universidade Federal de Viçosa. Foi escrito por:

* [Ana Flávia Souza](https://www.linkedin.com/in/ana-fl%C3%A1via-souza-2b06151a5/): graduanda em Economia pela Universidade Federal de Viçosa e estagiária na Zetta Exponential.

* [Gabriel Kakizaki](https://www.linkedin.com/in/gabriel-kakizaki-25b6311a5/): graduando em Administração pela Universidade Federal de Viçosa, membro do PET-ADM e estagiário na Zetta Exponential.

Com supervisão de:

* [Dr. Henrique Gomide](https://www.linkedin.com/in/hpgomide/?originalSubdomain=br): líder do comitê científico da empresa Zetta Health e professor da Universidade Federal de Viçosa. 

--- 
Copyright 2020, Zetta Exponential